<section class="dirs container-fluid">
  <div class="row">
    <div class="col-lg-3">
      <div class="box">
        <ul class="directory-list">
          <ng-template #recursiveList let-buckets>
            <li class="folder" *ngFor="let bucket of buckets">
              <a (click)="getBucket(bucket.slug)">{{bucket.name}}</a>
              <ul *ngIf="bucket.childs.length > 0">
                <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: bucket.childs }"></ng-container>
              </ul>
            </li>
          </ng-template>
          <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: buckets }"></ng-container>
        </ul>
      </div>
    </div>
    <div class="col-lg-9">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active" *ngIf="selectedBucket" aria-current="page">{{selectedBucket?.slug}}</li>
        </ol>
      </nav>
      <app-upload></app-upload>
      <div *ngIf="errorMessage" class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Holy guacamole!</strong> {{errorMessage}}
        <button type="button" (click)="closeAlert()" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Filename</th>
            <th scope="col">Type</th>
            <th scope="col">Size</th>
            <th scope="col">
              <button class="btn btn-success" (click)="showModal('create')"><img src="assets/icons/add.svg" width="20px"
                  height="20px" title="Add bucket"></button>
              <button (click)="showModal('update', bucket)" *ngIf="selectedBucket?.slug" class="btn btn-primary ml-2"><img
                  src="assets/icons/edit-black.svg" width="20px" height="20px" title="edit bucket"></button>
              <button *ngIf="selectedBucket?.slug" (click)="deleteBucket(selectedBucket?.slug)"
                class="btn btn-danger ml-2"><img src="assets/icons/delete.svg" width="20px" height="20px"
                  title="delete bucket"></button>
            </th>
          </tr>
        </thead>
        <tbody *ngIf="selectedBucket?.id; else rootDir">
          <tr *ngFor="let bucket of selectedBucket?.childs">
            <th scope="row">
              <img src="assets/icons/folder.svg" alt="">
            </th>
            <td><a (click)="getBucket(bucket.slug)">{{bucket.name}}</a></td>
            <td>Directory</td>
            <td>{{bucket.size / 1000000 | number:'1.2-2'}}</td>
            <td>
              <button (click)="showModal('update', bucket)" class="btn btn-primary"><img src="assets/icons/edit-black.svg"
                  width="20px" height="20px" title="edit bucket"></button>
              <button (click)="deleteBucket(bucket.slug)" class="btn btn-danger ml-2"><img src="assets/icons/delete.svg"
                  width="20px" height="20px" title="delete bucket"></button>
            </td>
          </tr>


          <tr *ngFor="let image of selectedBucket?.images">
            <th scope="row">
              <img src="assets/icons/folder.svg" alt="">
            </th>
            <td><a>{{image.name}}</a></td>
            <td>Image</td>
            <td>0</td>
          </tr>
        </tbody>
        <ng-template #rootDir>
          <tbody>
            <tr *ngFor="let bucket of buckets">
              <th scope="row">
                <img src="assets/icons/folder.svg" alt="">
              </th>
              <td><a (click)="getBucket(bucket.slug)">{{bucket.name}}</a></td>
              <td>Directory</td>
              <td>{{bucket.size / 1000000 | number:'1.2-2'}}</td>
              <td>
                <button (click)="showModal('update', bucket)" class="btn btn-primary"><img
                    src="assets/icons/edit-black.svg" width="20px" height="20px" title="edit bucket"></button>
                <button (click)="deleteBucket(bucket.slug)" class="btn btn-danger ml-2"><img
                    src="assets/icons/delete.svg" width="20px" height="20px" title="delete bucket"></button>

              </td>
            </tr>
          </tbody>
        </ng-template>
        <tfoot>
          <tr>
            <td colspan="3"></td>
            <td>{{selectedBucket?.size / 1000000 | number:'1.2-2'}}</td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</section>
<!-- Modal -->
<div class="modal fade" id="bucketAction" tabindex="-1" role="dialog" aria-labelledby="bucketActionLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" *ngIf="selectedBucket" aria-current="page">{{selectedBucket?.slug}}</li>
          </ol>
        </nav>
        <form [formGroup]="bucketForm">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" id="name" formControlName="name" class="form-control">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="onSubmit()" [disabled]="!bucketForm.valid">Save
          changes</button>
      </div>
    </div>
  </div>
</div>